<center><img src="images/banner.jpg"></center>

<center><h1>An√°lisis de sentimientos de las elecciones a la Asamblea de Madrid 2021</h1></center>

## Introducci√≥n

El pasado martes 4 de mayo se celebraban las elecciones a la Asamblea de Madrid 2021. Estas elecciones son de alguna forma excepcionales y pol√©micas desde el mismo instante de su convocatoria. Esto se debe a la pandemia y a la polarizaci√≥n pol√≠tica de los √∫ltimos a√±os en Espa√±a. As√≠ pues, se han saldado con la victoria de los partidos derecha y la derrota de la izquierda, obligando a dos de los principales candidatos a abandonar la pol√≠tica. Tambi√©n hemos asistido a la desaparici√≥n del partido Ciudadanos de la Asamblea, empeorando a√∫n m√°s su crisis como partido. 

Por si fuera poco, la campa√±a electoral se desarroll√≥ bajo un clima de mucha tensi√≥n, ya que algunos pol√≠ticos del pa√≠s recibieron sobres con balas. En las redes sociales, esta polarizaci√≥n se manifiesta m√°s. Es frecuente ver insultos y descalificaciones en la mayor√≠a de los mensajes.

Las elecciones de Madrid pueden afectar de alguna forma a elecciones futuras. Por tanto, es interesante analizar los sentimientos de los usuarios en redes ‚Äîen este caso Twitter‚Äî con el objetivo de ver c√≥mo se desarrolla esta polarizaci√≥n en todo el pa√≠s.

### üü¢ Objetivo:

> Realizar un an√°lisis de sentimientos en Twitter para ver el desarrollo de la polarizaci√≥n en Espa√±a.

### üìö Librer√≠as

Para conseguir nuestro objetivo, necesitamos las siguientes librer√≠as:

* **Tweepy**: la usaremos para descargar los tweets utilizando la API de Twitter.
* **Pandas**: librer√≠a para el an√°lisis de los datos.

In [1]:
import pandas as pd

## TODO: Extracci√≥n de tweets

## üßπ Limpieza de datos

Una vez extra√≠dos los tweets en un archivo CSV, el siguiente paso consiste en eliminar aquellos datos que no son importantes para el an√°lisis. Para ello, vamos a usar la librer√≠a `Pandas`, que nos permitir√° gestionar los tweets en tablas llamadas *Dataframes*.

In [2]:
# Importamos los datos a un Dataframe
data = pd.read_csv('data.csv', index_col='ID')

data.head()

,Tweets,len,Date,Source,Likes,RTs
ID,,,,,,
1389716466304491522,"RT @vox_es: ‚Äº @Santi_ABASCAL ""Son unos buenos ...",139,2021-05-04 22:59:59,Twitter for iPhone,0,0
1389716466195472388,RT @mtgarcia82: Que gane el PP en un barrio ob...,140,2021-05-04 22:59:59,Twitter for Android,0,0
1389716465390080002,"RT @elsitacabello: Ahora s√≠, lo puedo decir, m...",100,2021-05-04 22:59:59,Twitter for Android,0,0
1389716465205583877,RT @YTanRicamente: Esta casa apoya a @Yolanda_...,140,2021-05-04 22:59:59,Twitter Web App,0,0
1389716462936412164,RT @Juanmi_News: Qu√© asco tener que ver que lo...,138,2021-05-04 22:59:59,Twitter for Android,0,0

A continuaci√≥n, vamos a hacer un an√°lisis exploratorio para ver los datos que disponemos. Comprobaremos tambi√©n si tenemos datos nulos y duplicados.

In [3]:
# Mostramos las filas y columnas del dataframe
data.shape

(1000, 6)

In [4]:
# Comprobamos valores nulos
data.isna().any()

Tweets    False
len       False
Date      False
Source    False
Likes     False
RTs       False
dtype: bool

In [5]:
# Eliminar la cadena 'RT' en los tweets para quedarnos con la informaci√≥n relevante
data['Tweets'] = data['Tweets'].str.replace(r'RT.*:', '', regex=True)
data.head()

,Tweets,len,Date,Source,Likes,RTs
ID,,,,,,
1389716466304491522,"‚Äº @Santi_ABASCAL ""Son unos buenos resultados ...",139,2021-05-04 22:59:59,Twitter for iPhone,0,0
1389716466195472388,Que gane el PP en un barrio obrero y pendient...,140,2021-05-04 22:59:59,Twitter for Android,0,0
1389716465390080002,"Ahora s√≠, lo puedo decir, meteros los aplauso...",100,2021-05-04 22:59:59,Twitter for Android,0,0
1389716465205583877,"Esta casa apoya a @Yolanda_Diaz_, encargada d...",140,2021-05-04 22:59:59,Twitter Web App,0,0
1389716462936412164,Qu√© asco tener que ver que los que pisotean e...,138,2021-05-04 22:59:59,Twitter for Android,0,0

In [6]:
# Eliminar saltos de l√≠nea y retorno para tenerlo todo en una frase
data['Tweets'] = data['Tweets'].str.replace('\n', '')
data['Tweets'] = data['Tweets'].str.replace('\r', '')

In [8]:
# Eliminar etiqueta #Elecciones4M
data['Tweets'] = data['Tweets'].str.replace('#Elecciones4M', '')

In [21]:
# Eliminar links
links_index = data[data['Tweets'].str.contains(r'//t\.co.*', regex=True)].index
data = data.drop(links_index)

Seguimos haciendo limpieza de los datos, eliminando informaci√≥n que no es relevante para el an√°lisis.

In [35]:
# Seguimos eliminando links
links_index = data[data['Tweets'].str.contains('//t.c‚Ä¶')].index
data = data.drop(links_index)
data.shape

(696, 6)

In [44]:
# Eliminamos filas con el valor 0
zeros = data[data['Tweets'].str.contains(r'^0$', regex=True)].index

Int64Index([], dtype='int64', name='ID')